  <h1>{{title}}</h1>
  <h2>by {{author}} <small class="text-muted">({{date published_at}})</small></h2>

  <hr>

  <div class="text-intro">
    {{markdown intro}}
  </div>

  <div class="below-the-fold">
    {{markdown extended}}
  </div>
